.marquee-container {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  background: linear-gradient(to bottom, #ffffff, #f4f4f4);
  width: 100%;
  position: fixed;
  top: 125px; /* Adjust according to Navbar height */
  left: 0;
  z-index: 998;
  height: 42px;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin-top: 172px;
}

.bell-icon {
  color: #f4b400;
  font-size: 18px;
  margin-right: 8px;
}

.notif-label {
  font-weight: 600;
  font-size: 13.5px;
  color: #002f5f;
  margin-right: 8px;
  white-space: nowrap;
}

.marquee-text {
  flex: 1;
  font-size: 13.5px;
  color: #002f5f;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.announcement {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.separator {
  margin: 0 16px;
  font-weight: bold;
  color: #ccc;
}

.gif-icon {
  width: 28px;
  height: auto;
  margin-right: 4px;
}
